<div class="container master-index">
  <% if @characters.empty? %>
    <div class="row">
      <div class="col-sm">
        <span class="badge badge-secondary">Mestre</span>
        <h5>Aguardando as jogadoras da sua sala </h5>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm">
        <span class="badge badge-secondary">Mestre</span>
        <h5>Todas as jogadoras da sala </h5>
      </div>
    </div>
  <% end %>

  <div class="row">
    <% @characters.each do |character| %>
      <div class="col-md-6 character-info">
        <div class="card">
          <div class="card-body">
            <div class="character-icon">
              <% if character.sheet.character_type.name == "Maga"  %>
                <div class="wizard-image class-image"><%= svg_icon 'wizard' %></div>
              <% elsif character.sheet.character_type.name == "Sacerdotisa" %>
                 <div class="priest-image class-image"><%= svg_icon 'magic-book' %></div>
              <% elsif character.sheet.character_type.name == "Arqueira" %>
                <div class="archer-image class-image"><%= svg_icon 'bow' %></div>
              <% elsif character.sheet.character_type.name == "Espadachim" %>
              <div class="swordsman-image class-image"><%= svg_icon 'sword' %></div>
              <% end %>
            </div>
            <div class="character-class">
              <p class="card-title"><%= character.nome %></p>
              <p class="card-subtitle"><%= character.sheet.character_type.name %></p>
            </div>
            <div class="changeable-attributes">
              <%= form_with(model: character.sheet) do |f| %>
                <div class="changeable-item">
                  <i class="fas fa-gem"  data-fa-transform="rotate-45"></i>
                  <%= f.number_field :rubies %>
                </div>
                <div class="changeable-item">
                    <i class="fas fa-trophy"></i><spam>
                    <%= f.number_field :heroic_points %>
                </div>
                <div class="changeable-item">
                  <i class="fas fa-heart"></i>
                  <%= f.number_field :life %>
                </div>
                <div class="changeable-item">
                  <i class="fas fa-mug-hot"></i>
                  <%= f.number_field :mana %>
                </div>
                <%= f.submit "Atualizar" %>
              <% end %>
            </div>
            <div class="player-characteristics">
              <p class="characteristics-title">Atributos:</p>
              <% character.sheet.sheet_characteristics.each do |sheet_characteristic| %>
                <spam><%= sheet_characteristic.characteristic.name %>:  <%= sheet_characteristic.quantity %></spam>
              <% end %>
            </div>
            <div class="character-inventory">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade</th>
                  </tr>
                </thead>
                 <tbody>
                  <% character.sheet.inventories.each do |inventory| %>
                    <tr>
                      <td><%= inventory.item.name %></td>
                      <td><%= inventory.item.description %></td>
                      <td><%= inventory.quantity %></td>
                    </tr>
                  <% end %>
                 </tbody>
               </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm">
      <h5>Todos os items </h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Preço</th>
            <th scope="col">Descrição</th>
          </tr>
        </thead>
         <tbody>
          <% @itens.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.kind %></td>
              <td><%= item.price %></td>
              <td><%= item.description %></td>
            </tr>
          <% end %>
         </tbody>
       </table>
    </div>
  </div>
</div>
