<div class="container master-index">
  <% if @characters.empty? %>
    <div class="row">
      <div class="col-sm">
        <span class="badge badge-secondary">Mestre</span>
        <h5>Aguardando as jogadoras da sua sala </h5>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm">
        <span class="badge badge-secondary">Mestre</span>
        <h5>Todas as jogadoras da sala </h5>
      </div>
    </div>
  <% end %>

  <div class="row">
    <% @characters.each do |character| %>
    <% next if  character.nil? || character.sheet.nil? %>
      <div class="col-md-6 col-sm-12 character-info">
        <div class="card">
          <div class="card-body">
            <div class="character-icon">
              <% if character.sheet.character_type.name == "Maga"  %>
                <div class="wizard-image class-image"><%= svg_icon 'wizard' %></div>
              <% elsif character.sheet.character_type.name == "Sacerdotisa" %>
                 <div class="priest-image class-image"><%= svg_icon 'magic-book' %></div>
              <% elsif character.sheet.character_type.name == "Arqueira" %>
                <div class="archer-image class-image"><%= svg_icon 'bow' %></div>
              <% elsif character.sheet.character_type.name == "Espadachim" %>
              <div class="swordsman-image class-image"><%= svg_icon 'sword' %></div>
              <% end %>
            </div>
            <div class="character-class">
              <p class="card-title"><%= character.nome %></p>
              <p class="card-subtitle"><%= character.sheet.character_type.name %></p>
            </div>
            <div class="changeable-attributes">
              <%= form_with(model: character.sheet) do |f| %>
                <div class="changeable-item info-bar">
                  <i class="fas fa-heart"></i>
                     <div class="progress ">
                       <div class="progress-bar life-bar" data_sheet_id= <%= character.sheet.id %> role="progressbar"  aria-valuemin="0" aria-valuenow="<%= character.sheet.updated_life %>" aria-valuemax="<%= character.sheet.life %>"></div>
                     </div>
                    <%= f.number_field :life, value: character.sheet.updated_life , class: "progress-life-value", :data => {:sheet_id => character.sheet.id } %>
                    <spam> / </spam>
                    <spam class= "total-life-value" data_sheet_id= <%= character.sheet.id %>><%= character.sheet.life %></spam>
                </div>
                <div class="changeable-item">
                  <i class="fas fa-gem"  data-fa-transform="rotate-45"></i>
                  <%= f.number_field :rubies, :data => {:sheet_id => character.sheet.id } %>
                </div>
                <div class="changeable-item">
                    <i class="fas fa-trophy"></i><spam>
                    <%= f.number_field :heroic_points %>
                </div>
                <div class="changeable-item">
                  <i class="fas fa-mug-hot"></i>
                  <%= f.number_field :mana %>
                </div>
                <%= button_tag type: 'submit', class: "btn make-magic", :data => { :toggle =>"tooltip", :placement =>"top" }, :title=>"Make magic!!" do %>
                    <%= svg_icon 'make-magic' %>
                <% end %>
              <% end %>
            </div>
            <div class="row player-card-attributes">
              <div class="col-md-2">
                <div class="player-characteristics">
                  <% character.sheet.sheet_characteristics.each do |sheet_characteristic| %>
                    <% if sheet_characteristic.characteristic.name == "Agilidade" %>
                      <i class="fas fa-running"></i>
                    <% elsif sheet_characteristic.characteristic.name  == "Carisma" %>
                      <i class="fas fa-smile-wink"></i>
                    <% elsif sheet_characteristic.characteristic.name == "Conhecimento" %>
                      <i class="fas fa-book"></i>
                    <% elsif sheet_characteristic.characteristic.name == "Força" %>
                      <i class="fas fa-dumbbell"></i>
                    <% elsif sheet_characteristic.characteristic.name == "Vitalidade" %>
                      <i class="fas fa-heartbeat"></i>
                    <% end %>
                    <spam><%= sheet_characteristic.quantity %></spam>
                  <% end %>
                </div>
              </div>
              <div class="col-md-10">
                <div class="character-inventory">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Quantidade</th>
                      </tr>
                    </thead>
                     <tbody data-sheet-id= <%= character.sheet.id %>>
                      <% character.sheet.inventories.each do |inventory| %>
                        <tr data-id= <%= inventory.item.id %>>
                          <td><%= inventory.item.name %></td>
                          <td><%= inventory.quantity %></td>
                        </tr>
                      <% end %>
                     </tbody>
                   </table>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-around">
            <%= button_tag("Compras no Mercador",
                          :type=> "button",
                          :class => "btn toggleItensModal",
                          :data => {:toggle=>"modal",:target=>"#purchaseMerchantModal", :character => character.id} ) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'shared/itens_merchant' %>
</div>
