<div class="player-navbar">
  <div class="container">
    <div class="row sheet-info">
      <div class="col-sm">
        <div class="character-info d-flex justify-content-start">
          <div class="character-icon">
            <% if @sheet.character_type.name == "Maga"  %>
              <div class="wizard-image class-image"><%= svg_icon 'wizard' %></div>
            <% elsif @sheet.character_type.name == "Sacerdotisa" %>
               <div class="priest-image class-image"><%= svg_icon 'magic-book' %></div>
            <% elsif @sheet.character_type.name == "Arqueira" %>
              <div class="archer-image class-image"><%= svg_icon 'bow' %></div>
            <% elsif @sheet.character_type.name == "Espadachim" %>
            <div class="swordsman-image class-image"><%= svg_icon 'sword' %></div>
            <% end %>
          </div>
          <div class="character-class">
            <p><%= @character.nome %></p>
            <p><%= @sheet.character_type.name %></p>
            <div class="rubies-info d-flex justify-content-start"">
              <i class="fas fa-gem"  data-fa-transform="rotate-45"></i><spam id="sheet_rubies_value" data_sheet_id= <%= @sheet.id %>><%= @sheet.rubies %></spam>
              <i class="fas fa-trophy"></i><spam id="sheet_heroic_points_value" data_sheet_id= <%= @sheet.id %>><%= @sheet.heroic_points.to_i %></spam>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="bars-container">
          <div class="info-bar">
            <i class="fas fa-heart"></i> <div class="bar life-bar"></div> <spam id="sheet_life_value" data_sheet_id= <%= @sheet.id %>><%= @sheet.life %></spam>
          </div>
          <div class="info-bar">
            <i class="fas fa-mug-hot"></i> <div class="bar mana-bar"></div> <spam id="sheet_mana_value" data_sheet_id= <%= @sheet.id %>><%= @sheet.mana.to_i  %></spam>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<main class="container mt-5">
  <div class="row">
    <div class="col-4 pr-5">
      <div class="characteristic-panel">
        <% @sheet_characteristics.each do |sheet_characteristic| %>
          <div class="characteristic-info">
            <% if sheet_characteristic.characteristic.name == "Agilidade" %>
              <i class="fas fa-running"></i>
            <% elsif sheet_characteristic.characteristic.name  == "Carisma" %>
              <i class="fas fa-smile-wink"></i>
            <% elsif sheet_characteristic.characteristic.name == "Conhecimento" %>
              <i class="fas fa-book"></i>
            <% elsif sheet_characteristic.characteristic.name == "Força" %>
              <i class="fas fa-dumbbell"></i>
            <% elsif sheet_characteristic.characteristic.name == "Vitalidade" %>
              <i class="fas fa-heartbeat"></i>
            <% end %>
            <spam><%= sheet_characteristic.characteristic.name %>: </spam>
            <spam><%= sheet_characteristic.quantity %></spam>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-8 skills-panel">
      <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills" aria-selected="true">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="inventory-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false">Inventario</a>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="skills" role="tabpanel" aria-labelledby="skills-tab">
          <p><%= raw @sheet.character_type.skills %></p>
          <p><%= raw @sheet.character_type.weapons %></p>
        </div>
        <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Quantidade</th>
              </tr>
            </thead>
             <tbody data-sheet-id= <%= @sheet.id %>>
              <% @sheet.inventories.each do |inventory| %>
                <tr data-id= <%= inventory.item.id %>>
                  <td><%= inventory.item.name %></td>
                  <td><%= inventory.item.description %></td>
                  <td><%= inventory.quantity %></td>
                </tr>
              <% end %>
             </tbody>
           </table>
        </div>
      </div>
    </div>
  </div>
</main>
