<!DOCTYPE html>
<html>
  <head>
    <title>Localandia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <% if user_signed_in? %>
         <%= t(:hello) %>, <%= current_user.email %>
           <%= link_to t(:sign_out), destroy_user_session_path, method: :delete%>

       <% else %>
         <%= link_to t(:sign_in), new_user_session_path %>
       <% end %>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
